form{
    box-sizing: border-box;
    font-family:sans-serif
}


.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing:1px;
    margin: 20px;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px  10px;
}
#btn:hover{
    cursor: pointer;
    font-size: larger;
    transition: 0.5s;
}
#btn:active{
    cursor: pointer;
    font-size: smaller;
    transition: 0.5s;
}

.container button{
    background-color: black;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: black solid 2px;
    margin: 8px ;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
}

.form{
    position: absolute;
    height: 100%;
}

.sign-in{
    width: 50%;
}

.black{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 150px 0 0 100px;
}

.blackpart{
    background-color: rgb(21, 14, 1);
    height: 100%;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
}

.written{
    right: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    font-family:cursive;
}


